:root {
      --bg-color: #ffffff;
      --text-color: #000000;
      --button-bg: #007bff;
      --button-text: #ffffff;
      --border-color: #ddd;
    }
[data-theme="dark"] {
      --bg-color: #121212;
      --text-color: #ffffff;
      --button-bg: #bb86fc;
      --button-text: #000000;
      --border-color: #333;
    }
[data-theme="irie"] {
      --bg-color: #121212;
      --text-color: #0d47a1;
      --button-bg: #1976d2;
      --button-text: #ffffff;
      --border-color: #90caf9;
    }

*{
  padding: 0;
  margin: 0;
  user-select: none;
  cursor: default;
}

@media (max-width: 767px) and (pointer: coarse) {
  // Mobile touch
}

@media (min-width: 768px) and (max-width: 1024px) and (pointer: coarse) {
  // Tablet touch
}

@media (max-width: 1025px), (pointer: fine) {
  // Small Desktop or any fine pointer device
}

@media (min-width: 1025px), (pointer: fine) {
  // Desktop or any fine pointer device
}
